doctype html
html(lang="en" ng-app="guthub")
    head
        title GutHub - Create and Share
        link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css')
        link(rel='stylesheet',href='/stylesheets/style.css')
        script(src='http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js')
        script(src='http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js')
        script(src='/angular/angular.min.js')
        script(src='/angular/angular-resource.min.js')
        script(src='/javascripts/controllers/controller.js')
        script(src='/javascripts/directives/directives.js')
        script(src='/javascripts/services/services.js')
    body
        header

        div(butterbar) Loading...

        div
            div
                div(class='span2')
                    nav(class='navbar,navbar-default navbar-fixed-top',role='navigation')
                        div(class='navbar-header')
                            a(class='navbar-brand',href='/#/')
                                strong GutHub
                        ul(class='nav navbar-nav')
                            li(class='active')
                                a(href='/#/new') New Recipe
                            li
                                a(href='/#/') Recipe List
        div.container
            div(ng-view)
